:root {
  --navyBlue: #245F73;
  --lightBrown: #C19A6B;
  --darkGray: #BBBDBC;
  --lightGray: #F2F0EF;
}

body {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 2fr 2fr 2fr 4fr;
  grid-template-rows: .2fr 6fr 1fr;
  font-size: 24px;
  font-family: roboto;
  background-color: var(--darkGray);
}

main {
  display: grid;
  grid-column: 2 / 7;
  grid-row: 2 / 3;
  background-color: white;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: .4fr 5fr;
}

header.banner {
  display: grid;
  grid-column: 1 / 8;
  grid-row: 1 / 2;
  background-color: var(--navyBlue);
}

header.main-header {
  display: inline-grid;
  grid-row: 1 / 2;
  grid-column: 1 / 6;
  background-color: var(--lightGray);
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr;
}

h1 {
  font-size: 1.25em;
  color: white;
  justify-self: center;
  align-self: end;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-header button {
  width: 8em;
  height: 2em;
  background-color: var(--navyBlue);
  border-radius: .5em;
  border: none;
  color: var(--lightGray);
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: center;
  justify-self: center;
}

.main-header button:nth-child(1) {
  margin-right: 10em;
}

.main-header button:nth-child(2) {
  margin-left: 10em;
}

.main-header button:hover {
  background-color: var(--darkGray);
  border: solid 1px white;
  color: white;
}

.main-header input {
  width: 15em;
  height: 2em;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: center;
  justify-self: start;
  padding-left: .5em;
}

.main-header select {
  display: inline;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  align-self: center;
  justify-self: flex-start;
  height: 2.5em;
  width: 8em;
/*  margin-right: 14em;*/
}

.main-header input[type='button'] {
  display: inline;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  align-self: center;
  justify-self: flex-start;
  height: 2.5em;
  width: 8em;
}

div.contacts {
  display: inline-grid;
  padding:15px 40px;
  grid-column: 1 / 6;
  grid-row: 2 / 3;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  row-gap: 40px;
  column-gap: 20px;
}

div.contact {
  padding: 10px 10px;
}

div.contact h2 {
  color: var(--navyBlue);
  font-size: .9em;
  font-weight: 500;
  padding-bottom: .5em;
}

div.contact .subtitle {
  font-weight: 500;
  font-size: .5em;
}

div.contact button {
  margin-top: 10px;
}

div.contact p,
div.contact button {
  font-size: .6em;
}

div.contact p:nth-child(odd) {
  margin-bottom: 3px;
}

p button.tag {
  border: 1px solid var(--lightBrown);
  border-radius: .5em;
  font-size: .9em;
  font-weight: 500;
  margin: 2px;
}

p button.off {
  color: var(--lightBrown);
  background-color: white;
}

p button.on {
  color: white;
  background-color: var(--lightBrown);
}

button.edit {
  border: 1px solid forestgreen;
  background-color: forestgreen;
}

button.edit:hover {
  color: forestgreen;
}

button.delete {
  background-color: palevioletred;
  border: 1px solid palevioletred;
}

button.delete:hover {
  color: palevioletred;
}

button.delete:hover,
button.edit:hover {
  background-color: white;
}

button.edit,
button.delete {
  color: white;
  border-radius: .2em;
}

header.main-headerCC {
  grid-row: 1 / 2;
  grid-column: 1 / 6;
  display: grid;
  background-color: var(--lightGray);
}

header.main-headerCC h2 {
  justify-self: center;
  align-self: center;
  color: var(--navyBlue);
  font-weight: 500;
}

form {
  grid-row: 2 / 3;
  grid-column: 1 / 6;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-top: 50px;
}

form fieldset {
  display: contents;
}

form div.gridParent {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: grid;
  grid-template-rows: repeat(3, 50px) 1fr repeat(2, 50px);
}

div.gridParent label[for="full_name"],
div.gridParent label[for="email"],
div.gridParent label[for="phone_number"] {
  grid-column: 1 / 2;
  margin-left: 150px;
}

div.gridParent label[for="full_name"],
div.gridParent input#full_name {
  grid-row: 1 / 2;
}

div.gridParent label[for="email"],
div.gridParent input#email {
  grid-row: 2 / 3;
}

div.gridParent label[for="phone_number"],
div.gridParent input#phone_number {
  grid-row: 3 / 4;
}

div.gridParent input#full_name,
div.gridParent input#email,
div.gridParent input#phone_number {
  grid-column: 2 / 3;
}

div.tagline {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
  display:grid;
  margin-left: 150px;
}

div.gridParent input#full_name,
div.gridParent input#email,
div.gridParent input#phone_number {
  width: 12em;
  height: 1.5em;
  justify-self: start;
  align-self: center;
}

div.tagline button {
  display: inline;
  font-size: .7em;
  width: 6em;
  height: 2em;
  border-radius: 6px;
  border: 1px solid var(--lightBrown);
}

.buttonOff {
  color: var(--lightBrown);
  background-color: white;
}

.buttonOn {
  color: white;
  background-color: var(--lightBrown);
}

input.submit {
  border: 1px solid forestgreen;
  background-color: forestgreen;
  justify-self: start;
}

input.cancel {
  background-color: palevioletred;
  border: 1px solid palevioletred;
  justify-self: end;
  margin-left: 150px;
}


input.submit:hover {
  color: forestgreen;
}

input.cancel:hover {
  color: palevioletred;
}

input.submit:hover,
input.cancel:hover {
  background-color: white;
}

input.submit,
input.cancel {
  color: white;
  border-radius: .2em;
  width: 100px;
  height: 25px;
  grid-row: 5 / 6;
  grid-column: 2 / 3;
  align-self: end;
  margin-bottom: 10px;
}

.gridParent p#formError {
  grid-row: 6 / 7;
  grid-column: 2 / 3; 
}

.gridParent p {
  font-size: .7em;
  justify-self: start;
  align-self: center;
}

.errorText {
  color: red;
  margin-right: 50px;
}

.successText {
  color: green;
  margin-right: 50px;
}

.redBorder {
  border: red solid 2px;
}

.redText {
  color: red;
}

.addTagGrid {
  grid-row: 2 / 3;
  grid-column: 1 / 6;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .5fr 1fr;
}

.addTagGrid input {
  justify-self: center;
}


.addTagGrid input[type="text"] {
  height: 30px;
  width: 300px;
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.addTagGrid input[type="submit"] {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  align-self: start;
  justify-self: end;
}

.addTagGrid input[type="button"] {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  margin-left: 10px;
  align-self: start;
  justify-self: left;
}

.addTagGrid p {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  justify-self: center;
  align-self: center;
  font-size: .7em;
  margin-bottom: 100px;
  padding: 10px 25px;
  border-radius: 5px;
}

div#deleteConfirmation {
  width: 500px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 35%;
  background-color: white;
  border: black solid 1px;
  display: grid;
  justify-items: center;
  padding: 50px 20px;
  z-index: 3;
}

#deleteConfirmationButton,
#cancelConfirmationButton {
  margin: 0px auto;
  align-self: center;
}

#cancelConfirmationButton {
  border: 1px solid forestgreen;
  background-color: forestgreen;
}

#cancelConfirmationButton:hover {
  color: forestgreen;
}

#deleteConfirmationButton {
  background-color: palevioletred;
  border: 1px solid palevioletred;
}

#deleteConfirmationButton:hover {
  color: palevioletred;
}

#deleteConfirmationButton:hover,
#cancelConfirmationButton:hover {
  background-color: white;
}

#cancelConfirmationButton,
#deleteConfirmationButton {
  color: white;
  border-radius: .2em;
}

#grayEverywhere {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, .5);
}